<h2>Select User</h2>
<div class="container row text-center m-auto"> 
  <% @users.each do |user| %>
   <% if user.id == current_user.id %>
   <% next %>
   <% end %>

    <div class="mx-auto my-2 text-center row">
        <%= link_to home_url(user) do %>     
          <span class="h4">
          <%= user.username %>
          </span> 
          <%= " : #{Msg.where(u_id: current_user.id, user_id: user.id).length}" %>
          <i class="material-icons m-auto" style="color: green; font-size: 15px;">
                message
          </i>
        <% end %> 
    </div>
  <% end %>
</div>
 
            