<h2> Details </h2>

<div class="px-2 container">
	<h4>User Id :- <%= @user.id %> </h4>
	<h4> Name :- <%= @user.name %> </h4>
	<h4> User Name :- <%= @user.username %> </h4>
	<h4> Email Id :- <%= @user.email %> </h4>
</div>